doctype html
head
  script(type='text/javascript').
    async function updateBarPercentage() {
      let response = await fetch("/get-bar");
      let json = await response.json();
      let percentage = json.percentage;
      let bar = document.getElementsByClassName("bar-fill");
      bar.style = "width: " + percentage + "%";
    }
  script(type='text/javascript').
     window.onload = function loop() {
        updateBarPercentage()
        setTimeout(loop, 3_000);
    }
  style.
    body {
    background-color: transparent;
    
    }

    .progress-bar {
    position:absolute;
    width: 800px;
    height: 204px;
    background-image:url(tempbar.png);
    }
    .bar-fill {
    position:absolute;
    width: 800px;
    height: 204px;
    background-image:url(spamblock.png);
    z-index: -1;
    }
body
    .progress-bar
        .bar-fill(style='width:' + fillVal + '%;')